{% extends "graph.xml.jinja" %}

{# Properties #}
{% block properties %}
<Scalar name="max_t" type="uint32_t"/>
{% endblock %}

{# MessageTypes #}
{% block messageTypes %}
        {% include {{message_file}} %}
{% endblock %}

{# DeviceTypes #}
{% block deviceTypes %}
        {% include {{device_file}} %}
{% endblock %}

