<?xml version='1.0'?>
<Graphs xmlns="https://poets-project.org/schemas/virtual-graph-schema-v3">
        <GraphType xmlns="https://poets-project.org/schemas/virtual-graph-schema-v3" id="{{graph.id}}">
                <Properties> 
                {% block properties %}{% endblock %}
                </Properties>
                {% include 'shared-code.xml.jinja' %}
                <MessageTypes>
                {% block messageTypes %}{% endblock %}
                </MessageTypes>
                <DeviceTypes>
                {% block deviceTypes %}{% endblock %}
                </DeviceTypes>
        </GraphType>
        <GraphInstance id="{{graph.id}}_output" graphTypeId="{{graph.id}}">
                <Properties>
                        "max_t":1000
                </Properties>
                <DeviceInstances>
                {% for device_instance in device_instances %}
                        {% if "property" in device_instance %}
                                <DevI id="{{device_instance.id}}" type="{{device_instance.type}}"><P>{{device_instance.property}}</P></DevI>
                        {% else %}
                                <DevI id="{{device_instance.id}}" type="{{device_instance.type}}" />
                        {% endif %}
                {% endfor %}
                </DeviceInstances>
                <EdgeInstances>
                {% for edge_instance in edge_instances %}
                        {% if "property" in edge_instance %}
                                <EdgeI path="{{edge_instance.path}}"><P>{{edge_instance.property}}</P></EdgeI>
                        {% else %}
                                <EdgeI path="{{edge_instance.path}}" />
                        {% endif %}
                {% endfor %}
                </EdgeInstances>
        </GraphInstance>
</Graphs>