# HLS4ML tutorial repo
# hls4ml_tutorial/model_1
hls4ml_tutorial/model_2
hls4ml_tutorial/model_3
hls4ml_tutorial/pruned_cnn
hls4ml_tutorial/quantized_pruned_cnn
hls4ml_tutorial/*.npy
hls4ml_tutorial/scikit_learn_data
hls4ml_tutorial/__pycache__
hls4ml_tutorial/images
hls4ml_tutorial/lost+found
hls4ml_tutorial/hsperfdata_root
*tar.gz
*events.out*

# Thesis
thesis/*.aux
thesis/*.bbl
thesis/*.blg
thesis/*.fdb_latexmk
thesis/*.fls
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.out
thesis/*.synctex.gz
thesis/*.toc
thesis/*-converted-to*

# Datasets
.energyflow
example_data

# VSCode
.vscode

# PyCharm
.idea

# C++
*.o

# HLS
vivado_hls.log
.autopilot_exit
autopilot.flow.log
csim.exe
csim_layers.log
myproject_csim.log
hls/myproject_prj/solution1/*

# Python
*.npy
*.pyc

# nohup - for long running jobs
nohup*
best_quant_*
grid_search_*
search.out

# Dataset H5 files
*.h5

# Temporary copy of hls directory
hls_*

# ScaleHLS
scalehls

# Torch-MLIR
torch-mlir

# Environments
mlir_venv

# Vivado logs
logs/vivado_hls_run.log
logs/vivado_hls_run2.log
logs/vivado_hls_run3.log
logs/vivado_hls_run4.log
