{%- if m.contents is not none -%}
<MessageType id="{{m.message_id}}">
    <Message>
        {%- for p in m.contents -%}
        {% set template = p.template %}
        {% include template %}
        {%- endfor %}
    </Message>
</MessageType>
{%- else -%}
<MessageType id="{{m.message_id}}"/>
{%- endif -%}